@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&family=Open+Sans:ital,wght@0,600;1,600&display=swap');

*{
    margin: 0 ; padding: 0 ; -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; overflow: hidden
}
body{
    font-family: 'Open Sans', sans-serif; margin: 0; -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; font-size: 16px; background: #fefefe; 
}
.section-padding{
    padding: 100px 0; position: relative; top: 20%;
}
.container{
    display: flex; flex-direction: column; justify-content: center;align-items: center
}
.content{
    display: flex; flex-direction: row;justify-content: space-around;align-items: center; width: 100%;padding: 30px 0; margin-top:40px 
}
.left{
    width: 50%;
}
.right{
    width: 50%; 
}
.date{
    display: flex;justify-content: space-around; align-items: center; 
}
.date li{
    list-style: none;
}
h1{
    text-align: center
}
.content{
    padding:  20px
}
.bit::after{
    content: "%";
    
}
.about{
    width: 100%; 
}
.item{
    margin-top: 30px
}
.about p{
    width: 60%; margin: auto
}
span i{
    color: red; 
}
.header{
    position: relative;
}
.percentage{
    position: absolute; top: 0; right: 0;
}
.bar-inner{
    width: 100%; height: 5px; background: red;
    border-radius: 10px; 
    
}
.bar-progress{
    width:0 ; height: 100%; background: blue ; transition: 2s; border-radius: 10px
}
.about-me{
    margin-bottom: 30px
}
#night::after{
    content: "+"
}
#night{
    color: red; font-size: 30px
}